header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006400; /* Color verde */
    color: white;
    padding: 1em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 50px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a, nav ul li button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #004d00; /* Color verde más oscuro */
    border-radius: 0.5rem;
}

nav ul li button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.75rem;
    cursor: pointer;
}

nav ul li button:hover {
    color: white;
    background-color: #004d00; /* Color verde más oscuro */
}
